body{
    color: #031c4e;
     line-height: 1.5;
     border: 1px solid black;
}
[class*="section"] {
    padding-top: 30px;
    padding-bottom: 30px;
}

.blue{
    color: #006aff; 
}

.bg-gray{
    background-color: #f3f5f9; 
}

.bg-eletric-blue{
    color: white;
    background-color: #0046c4;  
}

.mg-0{
    margin: 0;
}


/*---navbar---*/

img.my-logo {    
    width: 100%;
    padding-top: 7px;
    }
    .my-box-logo {
    height: 55px;
    width: 150px;
}



/*---sez-1---*/

.banner-home{
    background-image: url("img/bg-banner-home.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white;
    background-color: transparent;
}
.jumbotron p {
   opacity: 80%;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding:0;
    border-radius: 6px;
}

.my-box{
    background-color: white;
    border-radius: 5px;
    padding:5px;
    padding-bottom: 30px;
}

.my-box.img-responsive{
    background-color: white;
    border-radius: 5px;
    padding: 30px 100px 10px 100px;
}
form .btn {
    border: 0;
    box-shadow: 0px 2px lightgray;
    margin-bottom: 15px;
    width: 100%;
    opacity: 80%;
}
.my-form-text{
    line-height: 1.5;
    font-weight: bolder;
}
.btn.my-form.btn-primary{
   background-color:#579aff;
}
.btn-default.my-form.google {
    margin-bottom: 15px;
    background-image: url("img/google-icon.png");
    background-position: 2% 50%;
    background-repeat: no-repeat; 
    background-size: 25px 25px;
}

/*---sez-2--*/

.cstm-logo img{
    width: 100%;
    height: 150px; 
}

/*---sez-3---*/

.my-list{
    border-left: 2px solid lightgray;
    padding-left: 10px;
    line-height: 2.5;
    font-size: 18px;
    opacity: 80%;
}

/*---sez-4---*/

span.my-arrow {
    line-height: 7;
    vertical-align: middle;
    font-size: 40px; 
    font-weight: bolder;
}

.section-title *:nth-child(2){
    line-height: 1.5;
    opacity: 80%;
}

/*---sez-6---*/

.cities-list{
    border-bottom: 1px solid white;
    }
    .cities-list li:nth-child(2){
        margin-left: 50px ;
      
        }
    .cities-list li:last-child {
        float: right;
        color:#00d7d2;
    }

/*---footer--*/

footer{
    background-color:#031c4e;
    color: white;
}

/*--help-badge---*/

.help-note,.help img{
    box-shadow: 2px 2px 10px black; 
}
.help{
    position: relative;
    display: inline-flex;
    color: white;
    width: 350px;
    height: 55px;
    position: fixed;
    bottom: 30px;
    right: 10px;   
}
.help img {
    height: 100%;
    margin-left: 10px;
    padding: 5px;
    background-color:#006aff;
    border-radius: 10px;
}
.help .help-note{
    color: blue;
    line-height: 1.3;
    border-radius: 10px;
    border:1px solid white;
    width: 70%;
    height: 100%;
    background-color: white;
    padding: 10px;
}
.triangle{
    width: 0;
    height: 0;
    margin-top:30px ;
    border-top: 5px solid transparent;
    border-left: 10px solid white;
    border-bottom: 5px solid transparent; 
  }
  .my-badge{
    position: absolute;
    bottom: 40px;
    right: 10px;
    text-align: center;
    line-height: 0.5;
    text-align: right;
    font-size: 15px;
    
    color: white;
    background-color: red;
    border: 2px solid white;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 8px;
    border-radius: 50%;
    }
  







    
    
    
  