*{font-family: Arial, Helvetica, sans-serif;

}

body,.nav{
    color: #031c4e;
    font-weight: 400;
     line-height: 1.5;
}

[class*="section"] {
    padding-top: 30px;
    padding-bottom: 30px;
}

.blue{
    color: #006aff;
}

.bg-gray{
    background-color: #f3f5f9; 
}

.bg-eletric-blue{
    color: white;
    background-color: #0046c4;  
}

.mg-0{
    margin: 0;
}

h5,h4{
    line-height: 1.5;
    opacity: 60%;
    font-weight: 600;
}

/*---navbar---*/


nav.my-navbar{
   padding-top: 10px ;
    padding-bottom: 10px;
}

nav.my-navbar li,.fa.fa-bars.blue{
    margin-top: 7px;
    margin-bottom: 5px;
}
.fa.fa-bars.blue{
    font-size: 20px ;
}

.my-logo {    
    height: auto;
    width: 150px;
    }
 
.nav>li>a {
    padding: 0px 15px;
    color: #031c4e;
}

.nav button {
color: #006aff;
 background-color: white;
 padding: 5px 5px;
 border: 1px solid #006aff;
 border-radius: 5px;
 text-decoration: none;
}

/*---sez-1---*/

.banner-home{
    background-image: url("img/bg-banner-home.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white;
    background-color: transparent;
}
.jumbotron p {
   opacity: 80%;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding:0;
    border-radius: 6px;
}

.my-box{
    background-color: white;
    border-radius: 5px;
    padding:5px;
    padding-bottom: 30px;
}

.my-box.img-responsive{
    background-color: white;
    border-radius: 5px;
    padding: 30px 100px 10px 100px;
}
form .btn {
    border: 0;
    box-shadow: 0px 2px lightgray;
    margin-bottom: 15px;
    width: 100%;
    opacity: 80%;
}
.my-form-text{
    line-height: 1.5;
    font-weight: bolder;
}
.btn.my-form.btn-primary{
   background-color:#579aff; 
}
.btn-default.my-form.google {
    margin-bottom: 15px;
    background-image: url("img/google-icon.png");
    background-position: 2% 50%;
    background-repeat: no-repeat; 
    background-size: 25px 25px;
}

/*---sez-2--*/

.cstm-logo img{
    width: 100%;
    height: 150px; 
}

/*---sez-3---*/

.my-list{
    border-left: 2px solid lightgray;
    padding-left: 10px;
    line-height: 2.5;
    font-size: 18px;
    opacity: 70%;
}

.bit-mg{
    margin: 10px 0;
}

/*---sez-4---*/

span.my-arrow {
    line-height: 7;
    vertical-align: middle;
    font-size: 40px; 
    font-weight: bolder;
}

/*---sez-6---*/

.cities-list{
    border-bottom: 1px solid white;
    }
    .cities-list li:nth-child(2){
        margin-left: 50px ;
      
        }
    .cities-list li:last-child {
        float: right;
        color:#00d7d2;
    }

/*---footer--*/

footer{
    min-height: 350px; /*per lasciare spazio al badge*/
    background-color:#031c4e;
}

footer p,footer li{
    color: white;  
    opacity: 80%;
    font-weight: normal;
}
footer li:first-child{
    font-weight: bold;
    opacity: 100%;
}

/*--help-badge---*/

.help-note,.help img{
    box-shadow: 2px 2px 10px black; 
}
.help{
    position: relative;
    display: inline-flex;
    color: white;
    width: 350px;
    height: 55px;
    position: fixed;
    bottom: 30px;
    right: 10px;   
}
.help img {
    height: 100%;
    margin-left: 10px;
    padding: 5px;
    background-color:#006aff;
    border-radius: 10px;
}
.help .help-note{
    color: blue;
    line-height: 1.3;
    border-radius: 10px;
    border:1px solid white;
    width: 70%;
    height: 100%;
    background-color: white;
    padding: 10px;
}
.triangle{
    width: 0;
    height: 0;
    margin-top:30px ;
    border-top: 5px solid transparent;
    border-left: 10px solid white;
    border-bottom: 5px solid transparent; 
  }
  .my-badge{
    position: absolute;
    bottom: 40px;
    right: 10px;
    line-height: 0.5;
   
    color: white;
    background-color: red;
    border: 2px solid white;
    border-radius: 50%;
    width: 26px;
    padding: 7px;
    border-radius: 50%;
    }
  


    
    @media (min-width: 1px) and (max-width: 991px) {
        .my-arrow,.navbar-nav{
          display: none;
        }
        .mini-nav .fa.fa-bars {
            display: block
          }
    }

     @media (min-width: 992px) {
        .mini-nav .fa.fa-bars {
          display: none;
        }
       
    }

  