

body{
    color: #031c4e;
}

img.my-logo{
    width: 30px;
    line-height: 40px;
    vertical-align: text-top;
    }
    .my-box-logo {
    height: 100%;
    }

.navbar {
    min-height: auto;
    margin-bottom: 0px;
}
.navbar-text {
    margin-left: 5px;
}

.navbar-default,.navbar-default .navbar-nav>li>a {
    background-color: white;
    color: #031c4e;
}

.banner-home{
    background-image: url("img/bg-banner-home.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white;
    background-color: transparent;
}
.jumbotron p {
   opacity: 80%;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding:0;
    border-radius: 6px;
}

.my-box{
    background-color: white;
    border-radius: 5px;
    padding:5px;
    padding-bottom: 30px;
}

.my-box.img-responsive{
    background-color: white;
    border-radius: 5px;
    padding: 30px 100px 10px 100px;
}




form .btn {
    border: 0;
    box-shadow: 0px 2px lightgray;
    margin-bottom: 15px;
    width: 100%;
    opacity: 80%;
}
.btn.my-form.btn-primary{
   background-color:#579aff;
}
.btn-default.my-form.google {
    margin-bottom: 15px;
    background-image: url("img/google-icon.png");
    background-position: 2% 50%;
    background-repeat: no-repeat; 
    background-size: 25px 25px;
}
.my-form-text{
    line-height: 1.5;
    font-weight: bolder;
}

.my-list{
    border-left: 2px solid lightgray;
    line-height: 2.5;
    font-size: 18px;
}



.blue{
    color: #006aff; 
}
.bg-gray{
    background-color: #f3f5f9; 
}
.bg-eletric-blue{
    color: white;
    background-color: #0046c4; 
   
}
.mg-0{
    margin: 0;
}

 span.my-arrow {
    line-height: 7;
    vertical-align: middle;
    font-size: 40px; 
    font-weight: bolder;
}

.cities-list{
border-bottom: 1px solid white;
}
.cities-list li:nth-child(2){
    margin-left: 50px ;
  
    }
.cities-list li:last-child {
    float: right;
    color:#00d7d2;
}

.col-lg-6.my-box.text-center :nth-child(4) {

    line-height: 2;
    vertical-align: middle;    
}

.col-lg-6.my-box.text-center {
margin-top: 20px;
}

footer{
    background-color:#031c4e;
    color: white;
}




.help{
    display: inline-flex;
    color: white;
    line-height: 5;
    width: 450px;
    height: 55px;

    position: fixed;
    bottom: 30px;
    right: 0;
}
.help img {
    height: 100%;
    margin-left: 30px;
    padding: 5px;
    background-color:#006aff;
    border-radius: 10px;
}
.help .help-note{
    color: blue;
    line-height: 1.1;
    border-radius: 10px;
    border:1px solid white;
    width: 70%;
    height: 100%;
    background-color: white;
    padding: 10px;
}
.triangle{
    width: 0;
    height: 0;
    margin-top:30px ;
    border-top: 5px solid transparent;
    border-left: 10px solid white;
    border-bottom: 5px solid transparent;
  }


  