[class*="col-"] {
    border: 1px solid gray;
    min-height: 10px;
}

img.my-logo{
    width: 30px;
    line-height: 40px;
    vertical-align: text-top;
    }
    .my-box-logo {
    height: 100%;
    }

.navbar {
    min-height: auto;
    margin-bottom: 0px;
}
.navbar-text {
    margin-left: 5px;
}

.navbar-default,.navbar-default .navbar-nav>li>a {
    background-color: white;
    color: #031c4e;
}

.banner-home{
    background-image: url("img/bg-banner-home.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white;
    background-color: transparent;
}
.jumbotron p {
   opacity: 80%;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding:0;
    border-radius: 6px;
}
.my-box-form {
    background-color: white;
    border-radius: 5px;
    padding:5px;
    position: relative;
    padding-top: 50px ;
    padding-bottom: 20px;
}

form .btn {
    border: 0;
    box-shadow: 0px 2px lightgray;
    margin-bottom: 15px;
    width: 100%;
    opacity: 80%;
}
.btn.my-form.btn-primary{
   background-color:#579aff;
}
.btn-default.my-form.google {
    margin-bottom: 15px;
    background-image: url("img/google-icon.png");
    background-position: 2% 50%;
    background-repeat: no-repeat; 
    background-size: 25px 25px;

}

.my-form-text{
    color: #031c4e;
    line-height: 1.5;
    font-weight: bolder;
}

.blue{
    color: #006aff; 
}
.mg-0{
    margin: 0;
}

